{% extends 'templating_app/index.html' %}

{% block title %}CSRF Token{% endblock %}

{% block content %}

  <p>The csrf_token template tag provides protection against attacks;
    read more <a href="https://docs.djangoproject.com/en/1.8/ref/csrf/#using-csrf">here</a>.</p>

  <form action="" method="post">
    {% csrf_token %}
      <label for="secure_info">Secure info</label>
      <input type="text" id="secure_info" name="my_post"></input></br>
      <label for="more_secure_info">More secure info</label>
      <input type="text" id="more_secure_info" name="my_post_2"></input>
      <button type="submit">Submit secure info</button>
  </form>

  <form action="" method="post">
    <label for="secure_info2">Secure info</label>
    <input type="text" id="secure_info2"></input></br>
    <label for="more_secure_info2">More secure info</label>
    <input type="text" id="more_secure_info2"></input>
    <button type="submit">Submit secure info</button>
  </form>

  <form action="" method="get">
    <label for="secure_info3">Secure info</label>
    <input type="text" id="secure_info3" name="my_no_get"></input></br>
    <label for="more_secure_info3">More secure info</label>
    <input type="text" id="more_secure_info3" name="my_no_get_2"></input>
    <button type="submit">Submit secure info</button>
  </form>

  {% if post_variable or post_variable2 %}
    <p>Your post form's first input was "{{ post_variable }}"!</p>
    <p>Your post form's second input was "{{ post_variable2 }}"!</p>
  {% endif %}

  {% if get_variable or get_variable2 %}
    <p>Your get form's first input was "{{ get_variable }}"!</p>
    <p>Your get form's second input was "{{ get_variable2 }}"!</p>
  {% endif %}
{% endblock %}